body {
    font-family: Roboto;
    margin: 0;
}

.header, .itemcontainer, .quotebox {
    padding: 0px 150px;
}

.header, .footer {
    background-color: #1F2937;
}

.quotebox {
    background-color: #E5E7EB;
    padding: 120px;
    display: flex;
    gap: 40px;
}

.quote {
    display: flex;
    flex-direction: column;
}

#maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#secondarytext, .link {
    font-size: 18px;
    color: #E5E7EB;
}

#logotext {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

#signupbutton, #call {
    background-color: #3882F6;
}

#infotitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

#quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    align-self: center;
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.topper {
    display: flex;
    margin-bottom: 50px;
}

.banner {
    display: flex;
    margin-top: 15px;
    margin-bottom: 120px;
    gap: 30px;
    height: 220px;
}

#secondarytext {
    margin-bottom: 15px;
}

.bannerleft {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.items {
    display: flex;
    flex-direction: column;
}

.registration {
    background-color: white;
    margin: 100px;
}

.regleft {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer {
    display: flex;
}

.topperright {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.link {
    margin: 12px;
}

#signupbutton {
    border-radius: 10px;
    padding: 10px 8px;
    text-align: center;
    max-width: 120px;
    color: white;
    font-weight: bolder;
}

.placeholder {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

#infotitle {
    text-align: center;
    margin: 40px 0;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.squarecontainer {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.desccontainer {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.imagedesc {
    max-width: 150px;
    text-align: center;
    color: grey;
    font-weight: 400;
    justify-self: center;
}

#author {
    text-align: right;
    color: #1F2937;
    font-weight: 900;
    font-size: 25px;
    padding-left: 100px;
}

.regtangle {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    border-radius: 10px;
}

#signupbuttonreg {
    border-radius: 10px;
    padding: 10px 8px;
    text-align: center;
    width: 120px;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
}

#call {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    color: white;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quotetext, #author {
    max-width: 800px;
}

#bmw {
    width: 400px;
    background-color: #ada9ad94;
    padding: 10px;
}

.bike {
    width: 250px;
    object-fit: cover;
}

#quoteimg {
    width: 200px;
    border-radius: 30px;
}

#scofflogo {
    width: 120px;
}